<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user1" class="com.spring.bean.User" scope="prototype">
		<constructor-arg value="100" />
		<constructor-arg value="Veena" />
		<constructor-arg value="New Delhi" />
		<constructor-arg ref="addr" /> <!-- DI - Dependency Injection -->
	</bean>

	<bean id="user2" class="com.spring.bean.User" scope="singleton">
		<property name="userId" value="101" />
		<property name="address" ref="addr" />
	</bean>

	<bean id="addr" class="com.spring.bean.Address">
		<property name="houseNo" value="1" />
		<property name="location" value="Down Street" />
	</bean>
</beans>